# SPDX-License-Identifier: GPL-2.0-only

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4
tab_width = 8

[*.py]
indent_style = space
indent_size = 4

[*.java]
indent_style = space
indent_size = 4

[*.{yml,yaml,build}]
indent_style = space
indent_size = 2
