*.la
*.lo
*.o
*~

.deps/
.dirstamp
.libs/

aclocal.m4
autom4te.cache/
config/
config.log
config.status
configure
doc/doxygen.conf
doc/man/
doc/reldate.xml
doc/version.xml
gtk/zbarmarshal.c
gtk/zbarmarshal.h
include/config.h
include/config.h.in
include/stamp-h1
java/net/sourceforge/zbar/*.class
java/zbar.jar
java/zbarjni.h
libtool
Makefile
Makefile.in
pygtk/zbarpygtk.c
pygtk/zbarpygtk.defs
qt/moc_*.cpp
test/check_dbus.sh
test/test_examples.sh
test/test_convert
test/test_cpp
test/test_cpp_img
test/test_dbus
test/test_decode
test/test_jpeg
test/test_proc
test/test_video
zbarcam/moc_*.h
zbarcam/zbarcam
zbarcam/zbarcam-gtk
zbarcam/zbarcam-qt
zbarimg/zbarimg
zbar*.pc
