*.la
*.lo
*.o
*~

.deps/
.dirstamp
.libs/

ABOUT-NLS
aclocal.m4
autom4te.cache/
config/
config.log
config.status
configure
doc/doxygen.conf
doc/man/
doc/reldate.xml
doc/version.xml
gtk/zbarmarshal.c
gtk/zbarmarshal.h
gtk/ZBar-1.0.gir
gtk/ZBar-1.0.typelib
include/config.h
include/config.h.in
include/stamp-h1
iphone/build
iphone/zbar.xcodeproj/project.xcworkspace
iphone/zbar.xcodeproj/xcuserdata
java/net/sourceforge/zbar/*.class
java/zbar.jar
java/zbarjni.h
libtool
Makefile
Makefile.in
po/*.gmo
po/*.mo
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/zbar.pot
pygtk/zbarpygtk.c
pygtk/zbarpygtk.defs
qt/moc_*.cpp
test/check_dbus.sh
test/test_examples.sh
test/test_convert
test/test_cpp
test/test_cpp_img
test/test_dbus
test/test_decode
test/test_jpeg
test/test_proc
test/test_video
zbarcam/moc_*.h
zbarcam/zbarcam
zbarcam/zbarcam-gtk
zbarcam/zbarcam-qt
zbarimg/zbarimg
zbar*.pc
zbar-*.tar.bz2
zbar-*.tar.gz
