Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/doxygen.conf
doc/man/
doc/reldate.xml
doc/version.xml
.deps/
.dirstamp
.libs/
*.o
*.lo
*.la
gtk/zbarmarshal.c
gtk/zbarmarshal.h
include/config.h
include/config.h.in
include/stamp-h1
libtool
pygtk/zbarpygtk.c
pygtk/zbarpygtk.defs
qt/moc_*.cpp
zbarcam/moc_*.h
zbar*.pc
zbarcam/zbarcam
zbarcam/zbarcam-gtk
zbarcam/zbarcam-qt
zbarimg/zbarimg
java/net/sourceforge/zbar/*.class
java/zbar.jar
java/zbarjni.h

