language: cpp
compiler: gcc
dist: xenial
sudo: required
notifications:
  email:
    recipients:
      - mchehab@kernel.org
    on_success: change
    on_failure: always
cache:
  directories:
    - $HOME/.ccache
    - $HOME/pbuilder-bases
matrix:
  fast_finish: true
  include:
    - os: linux
      env: TARGET_OS=ubuntu-gtk2
      dist: bionic
    - os: linux
      env: TARGET_OS=ubuntu-gtk3
      dist: bionic
    - os: linux
      env: TARGET_OS=mingw-w64
      dist: bionic
    - os: linux
      env: TARGET_OS=debian-sid
      dist: bionic
    - os: linux
      compiler: clang
      env: TARGET_OS=debian-sid
      dist: bionic
    # Both in allow_failures
    - os: windows
      cache: false
      env: TARGET_OS=pc DIRECT_SHOW="--with-directshow"
    - os: windows
      cache: false
      env: TARGET_OS=pc DIRECT_SHOW=""
    - os: osx
      env: TARGET_OS=mac
  allow_failures:
    - os: windows
      cache: false
      env: TARGET_OS=pc DIRECT_SHOW="--with-directshow"
    - os: windows
      cache: false
      env: TARGET_OS=pc DIRECT_SHOW=""
before_install:
  - "${TRAVIS_BUILD_DIR}/travis/${TRAVIS_OS_NAME}.${TARGET_OS}.before_install"
install:
  - "${TRAVIS_BUILD_DIR}/travis/${TRAVIS_OS_NAME}.${TARGET_OS}.install"
script:
  - "${TRAVIS_BUILD_DIR}/travis/${TRAVIS_OS_NAME}.${TARGET_OS}.script"
after_script:
  - if [ "$TRAVIS_OS_NAME" != "linux" ]; then travis_terminate ${TRAVIS_TEST_RESULT}; else ccache -s; fi
