language: cpp
compiler: gcc
dist: xenial
sudo: required
notifications:
  email:
    recipients:
    - mchehab@kernel.org
    on_success: change
    on_failure: always
cache:
  directories:
  - $HOME/.ccache
  - $HOME/pbuilder-bases
matrix:
  include:
  - env: TARGET_OS=xenial-gtk2
  - env: TARGET_OS=xenial-gtk3
  - env: TARGET_OS=debian-sid
  - compiler: clang
    env: TARGET_OS=debian-sid
before_install:
- "${TRAVIS_BUILD_DIR}/travis/${TRAVIS_OS_NAME}.${TARGET_OS}.before_install"
install:
- "${TRAVIS_BUILD_DIR}/travis/${TRAVIS_OS_NAME}.${TARGET_OS}.install"
script:
- "${TRAVIS_BUILD_DIR}/travis/${TRAVIS_OS_NAME}.${TARGET_OS}.script"
after_script:
- ccache -s
